
@font-face {
    font-family: 'als_rublregular';
    src: url('../html/roublebe433.html') format('woff2'),
         url('../html/rouble0ffbe.html') format('woff');
    font-weight: normal;
    font-style: normal;
}